/**********************************************************/
/******************DEFAULT CUSTOMISATION*******************/
/**********************************************************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body, .all {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	background-color: #dfdfdf;
}

.all {
	display: flex;
  flex-flow: column;
}

.passPopup {
	 display: none;
	 position: fixed;
	 z-index: 1;
	 /* padding-top: 100px; */
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 /* overflow: auto; */
	 background-color: rgb(0,0,0);
	 background-color: rgba(0,0,0,0.4);
	 line-height: 100%;
	 /* display: flex; */

}

.passPopup-content {
	background-color: #fefefe;
  margin: 15% auto;
  padding: 2px;
  width: 400px;
	border-radius: 5px;
}

.alertContaier {
	margin: 0 auto;
	width: 900px;
	background-color: white;
}

.alert-warning {
	background-color: white !important;
	margin: 10px auto;
	width: 40%;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	height: 50px;
	display: relative;
	z-index: 1;
}

/*************************************************************/
/******************BASE HTML NAVIGATION BAR*******************/
/*************************************************************/


.topBar {
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	background-color: #3187DD;
	/* display: flex; */
	vertical-align: middle;
}


.ueaLogo {
	width: 30%;
  height: 100px;
	line-height: 100px;
  float: left;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.ueaLogo img {
	max-width: 100%;
	max-height: 90%;
	vertical-align: middle;
}

.topTitle {
	width: 40%;
  height: 100px;
	line-height: 100px;
  float: left;
	position: relative;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}


.topTitle h3 {
	margin: 0;
	font-size: 23px;
	color: white;
}

.options {
	flex:1;
  height: 100px;
	line-height: 25px;
  float: right;
	position: relative;
	text-align: center;
	vertical-align: middle;
	display: flex;
	justify-content: flex-end;
	padding-right: 70px;
	align-items: center;
}

.optionsItem {
	width: 100px;
	height: 100px;
	color: white;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

#logIn {
	border: 2px solid white;
	height: 35px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	background-color: white;
	border-radius: 10px;
}

#logIn p {
	height: inherit;
	margin: 0;
	padding: 0;
}

.options img {
	max-width: 100%;
	max-height: 30px;
	vertical-align: middle;
}

.container {
	width: 100%;
	display: flex;
	flex: 1;
	margin: 0;
	padding: 0;
	background-color: #dfdfdf;
	overflow: auto;
}

.optionLinkSpan {
	background: red;
    opacity: .3;
    position:absolute;
    width:inherit;
    height:inherit;
    left:0;
    top:0;
    z-index:1;
}

.myB {
	background-color: #3187DD !important;
	color: #bfdfff !important;
	font-weight: bold;
}

.myB:hover {
	background-color: #3187DD !important;
	color: white !important;
}

.myBW {
	background-color: white !important;
	color: #3187DD !important;
	border: 1px solid white !important;
	border-radius: 8px !important;
	margin-left: 10px;
	font-weight: bold;
}

.myBW:hover {
	background-color: #b1d8ff!important;
	border: 1px solid #b1d8ff !important;
	color: #3187DD !important;
	border-radius: 8px !important;
	margin-left: 10px;
  transition: background-color .2s ease-out;
}

.myBB {
	background-color: #3187DD !important;
	color: #bfdfff !important;
	border: 1px solid white !important;
	border-radius: 8px !important;
	margin-left: 50px;
	font-weight: bold;
}

.myBB:hover {
	background-color: #67b3ff !important;
	color: white !important;
	border: 1px solid white !important;
	border-radius: 8px !important;
	margin-left: 50px;
	transition: background-color .2s ease-out;
}

.currentB {
	background-color: #3187DD !important;
	color: #bfdfff !important;
	font-weight: bold;
	border-bottom: 5px solid #1c4b79 !important;
}

.close {
	color: #aaa;
	font-size: 28px;
	background-color: white;
	float: right;
	border: none;
	height: 30px;
	line-height: 10px;
	vertical-align: top;
	font-weight: bold;
}

.close:hover {
color: black;

}

/****************************************************/
/******************INDEX/HOME PAGE*******************/
/****************************************************/

.indexContainer {
	width: 100%;
	display: flex;
	flex-flow: row;
	background: linear-gradient(#6699ff, #3333ff);
}

.button {
	width: 50%;
  height: 100%;
  float: left;
	position: relative;
	text-align: center;

}

#leftButton, #rightButton {
	background: linear-gradient(#6699ff, #3333ff);
	vertical-align: middle;
}

#leftButton p, #rightButton p {
	opacity: 0;
}

.button h2 {
	font-size: 40px;
	opacity: 1;
	margin-top: 35%;
}


#leftButton:hover, #rightButton:hover {
	transition:all 0.3s ease;
	opacity: 0.8;
	color: white;
}

#leftButton:hover p, #rightButton:hover p {
	opacity: 1;
	transition:all 0.3s ease;
	color: white;
	margin: 0;
	padding: 0;
}

.linkSpan {
	position: absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

#arrayContainer div
{
    border:solid 1px black;
    margin:1px;
		width: 10%;
		text-align: center;
		margin: 1px auto;
}

#arrayContainer {
	width: 50%;
	margin-top: 20px;
	display: flex;
}

.separator {
	height: 100%;
	width: 0.4%;
	border-radius: 100%/400px;
	background-color: white;
}

/***********************************************/
/******************LOGIN PAGE*******************/
/***********************************************/

#loginContainer {
	width: 900px;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
}

.checkbox {
	width: 200px;
	margin: 0 auto;
	margin-top: 10px;
}

.loginS {
margin: 20px auto;
width: 300px;
}

.login-screen {

margin: 0 auto;
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #777;
margin-bottom: 30px;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

.login-screen input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

.login-screen input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.login-screen .btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.login-screen .btn:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}

.btn {
	/* margin: 0px 20px !important; */
}

#submit {
	margin-top: 20px !important; */
}

#remember_me {
	width: 30px;
	vertical-align: middle;
}

.form-control {
	margin-bottom: 10px;
}


/***********************************************/
/******************LEARN PAGE*******************/
/***********************************************/


.catButton {
	width: 50%;
	height: 40px;
	margin-bottom: 3px;
	background-color: #3187DD !important;
	color: #bfdfff !important;
	font-weight: bold;
	line-height: 25px;
}

.catButton p {
	vertical-align: middle;
}

.catButton:hover {
	background-color: #3187DD !important;
	color: white !important;
}

.midContainer {
	width: 1000px;
	margin: 0 auto;
	background-color: white;
	text-align: center;
	height: inherit;
	flex-flow: column;
}

.categoryContainer {
	padding-top: 30px;
	background-color: white;
}

.categoryContainer h1 {
	text-align: center;
	color: #777;
	margin-bottom: 10px;
}

/****************************************************/
/******************ALGORITHMS PAGES******************/
/****************************************************/

.algoContainer {
	margin: 0 auto;
	text-align: center;
	height: inherit;
	flex-flow: column;
}

#algoTitle {
	font-size: 30px;
	margin: 20px 0;
	text-align: center;
	font-weight: bold;
	color: #3187DD;
	text-transform: uppercase;
}

.algoControls {
	background-color: white;
	text-align: center;
	width: 1000px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	vertical-align: middle;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
}

.algoControls label {
	margin-left: 30px;
}


#elements, #speedSelectList, #runAlgoButton {
	height: 30px;
	line-height: 1px;
	vertical-align: middle;
}

#runAlgoButton {
	background-color: #3187DD;
	border: 0px;
	color: white;
	margin-left: 30px;
}

#runAlgoButton:hover {
	background-color: #68b3ff;
	border: 0px;
	color: white;
}

#OutDiv ul, #legendDiv ul  {
	list-style-type: none;
	padding:12px 0px;
	width: 900px;
	margin: 0 auto;
	margin-bottom: 30px;
}

#legendDiv ul {
	width: 100%;
}

#OutDiv ul li, #legendDiv ul li {
	position: relative;
	display: inline-block;
	border: 3px solid white;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 34px;
	margin-left: 5px;
	margin-bottom: 15px;
	border-radius: 16px;
	background-color: white;
}

#OutDiv .target, #legendDiv .target, #algoInfo .target {
	background-color: #68b3ff;
	border-color: #68b3ff;
}

#OutDiv .finished, #legendDiv .finished {
	background-color: #90ff68;
	border-color: #90ff68;
}

#OutDiv .start, #legendDiv .start {
	border-top-color: #686aff;
}

#OutDiv .minimalPos, #legendDiv .minimalPos, #algoInfo .minimalPos {
	border-bottom-color: #ff6868;
}

#OutDiv .minAndStart, #legendDiv .minAndStart {
	border-top-color: #686aff;
	border-bottom-color: #ff6868;
}

#OutDiv .tarAndStart {
	background-color: #68b3ff;
	border-color: #68b3ff;
	border-top-color: #686aff;
}

#OutDiv .minAndTar, #legendDiv .minAndTar {
	background-color: #68b3ff;
	border-color: #68b3ff;
	border-bottom-color: #ff6868;
}

#OutDiv .minAndStartAndTar, #legendDiv .minAndStartAndTar {
	background-color: #68b3ff;
	border-color: #68b3ff;
	border-top-color: #686aff;
	border-bottom-color: #ff6868;
}

#OutDiv .lowerThan {
	background-color: red;
}

#OutDiv {
	margin: 0 auto;
	margin-top:40px;
 	}

#topTri, .topTri {
	position:absolute;
	top:-25px;
	left:9.5px;
	padding:0;
	margin:0;
	font-weight:bold;
	color: #686aff;
	}

#botTri, .botTri {
	position:absolute;
	top:26px;
	left:9.5px;
	padding:0;
	margin:0;
	font-weight:bold;
	color: #ff6868;
	}

#algoInfo {
	overflow:auto;
	background-color: #a2a2a2;
	width: 1000px;
	margin: 0 auto;
  border-radius: 20px;
	text-align: center;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
}

#legendDiv {
	display: inline-block;
	width: 200px;
	padding: 20px;
	text-align: center;
	border-right: solid 1px white;
	border-left: solid 1px white;
}

#legendDiv p {
	margin-bottom: 5px;
	color: white;
	font-weight: 600;
}

#legendDiv h1 {
	width: 100%;
}

#legendDiv ul {
	margin:0;
}

.algorithmText {
	font-weight: 900;
	/* background-color: green; */
	display: inline-block;
	height: 100px;
	width: 600px;
	margin-top: 150px;
	color: white;
	vertical-align: top;
}

#algoElement {
	position: relative;
	display: inline-block;
	border: 3px solid white;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 34px;
	margin-left: 5px;
	margin-bottom: 15px;
	border-radius: 16px;
	background-color: white;
	color: black;
	font-weight: normal;
}

/****************************************************/
/******************ACCOUNT PAGE**********************/
/****************************************************/

.topAccInfo {
		width: 1000px;
		text-align: center;
}

.avatarPic {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-top: 30px;
	border-radius: 50%;
}

.avatarPic img {
	max-width: 200px;
	max-height: 200px;
	min-width: 200px;
	min-height: 200px;
	border-radius: 50%;
}

.accountInfo {
	display: inline-block;
	background-color: green;
	width: 400px;
	height: 100px;
	vertical-align: top;
	margin-top: 50px;
	text-align: left;
	padding-left: 20px;

}

.accountInfo h1 {
	font-size: 25px;
	font-weight: 500;
}

.accountOptions {
	display: inline-block;
	width: 200px;
	height: 100px;
	vertical-align: top;
	margin-top: 80px;
}

.compTests {
	display: flex;
	margin: 0 auto;
	width: 800px;
	height: 100px;
	background-color: yellow;
	margin-top: 40px;
}

.accButton {
	width: 200px;
	height: 40px;
	margin-bottom: 3px;
	background-color: #3187DD !important;
	color: #bfdfff !important;
	font-weight: bold;
	line-height: 25px;
}

.accButton:hover {
	background-color: #3187DD !important;
	color: white !important;
}

.closePassPopup, .closeAvatarPopup {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
	margin-right: 10px;
	margin-top: 10px;
}

.closePassPopup:hover, .closeAvatarPopup:hover {
	color: black;
	cursor: pointer;
}

.passPopup {
	 display: none;
	 position: fixed;
	 z-index: 1;
	 /* padding-top: 100px; */
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 /* overflow: auto; */
	 background-color: rgb(0,0,0);
	 background-color: rgba(0,0,0,0.4);
	 line-height: 100%;
	 /* display: flex; */

}

.passPopup-content {
	background-color: #fefefe;
  margin: 15% auto;
  padding: 2px;
  width: 400px;
	border-radius: 5px;
}

/****************************************************/
/******************TEST PAGE*************************/
/****************************************************/

.questionContainer {
	margin: 0 auto;
	padding-bottom: 60px;
	background-color: white;
	margin-bottom: 5px;
}

.questionContainer p {
	display: inline-block;
	margin-right: 50px;
	color: #3187DD;
}

.questionContainer input {
	text-align: center;
}
#submitTestArea {
	padding: 20px 0;
	text-align: right;
}

.questionHeader {
	float: left;
	height: 30px;
	width: 930px;
	color: #3187DD;
	font-weight: 600;
	font-size: 20px;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 30px;

}

#questionNumber {
	margin: 0;
	padding: 10px;
	height: 40px;
	width: 40px;
	border-right: solid #3187DD 2px;
	border-bottom: solid #3187DD 2px;
	text-align: center;
	border-bottom-right-radius: 20%;
}

#testQuestions {
	background-color: #dfdfdf;
}

.testButton {
	font-weight: 600;
	height: 60px;
	width: 120px;
	line-height: 1px;
	vertical-align: middle;
	background-color: #3187DD;
	border: 0px;
	color: white;
	margin-right: 100px;
	border-radius: 8px;
}

.testButton:hover {
	background-color: #68b3ff;
	border: 0px;
	color: white;
}

#backToHome {
	display: inline-block;
	float: left;
	text-decoration: none;
	line-height: 60px;
	vertical-align: middle;
	margin-top: 60px;
	margin-left: 50px;
}

.binarySpan {
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
	margin-top: 10px;
	letter-spacing: 3px;
}

.testAnswerLabel {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.gateDiv img {
	max-width: 200px;
	max-height: 200px;
}

#gateInput {
	margin-left: 20px;
}

#resultsDiv {
	height: 200px;
	line-height: 150px;
	vertical-align: middle;
}

#resultsDiv span {
	text-align: center;
}
