{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} UEA - Account {% endblock %}

{% block currentButton %}

  {% if current_user.is_authenticated %}
  <a class="myBW w3-bar-item w3-button w3-red w3-right" href="{{ url_for('account') }}">ACCOUNT</a>
  {% else %}
  <!-- <a class="myBW w3-bar-item w3-button w3-red w3-right" href="{{ url_for('register') }}">SIGN UP</a> -->
  <button onclick="listFunction()" class="myBW w3-bar-item w3-button w3-red w3-right">SIGN UP</button>
    <div id="registerList" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom">
      <a href="{{ url_for('register') }}" class="w3-bar-item w3-button">Student</a>
      <a href="{{ url_for('register_admin') }}" class="w3-bar-item w3-button">Admin</a>
    </div>

    <script>
    function listFunction() {
        var x = document.getElementById("registerList");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
    </script>
  {% endif %}

  {% if current_user.is_authenticated %}
    <a class="myBB w3-bar-item w3-button w3-red w3-right" href="{{ url_for('logout') }}">LOGOUT</a>
  {% else %}
    <a class="myBB w3-bar-item w3-button w3-red w3-right" href="{{ url_for('login') }}">LOGIN</a>
  {% endif %}

  <a class="myB w3-bar-item w3-button w3-black w3-right" href="{{ url_for('test') }}">TEST</a>
  <a class="myB w3-bar-item w3-button w3-black w3-right" href="{{ url_for('learn') }}">LEARN</a>
  <a class="currentB myB w3-bar-item w3-button w3-teal w3-right" href="{{ url_for('index') }}">HOME</a>
{% endblock %}

{% block page_content %}
  <div class="midContainer">
    <div class="topAccInfo">
      <div id="AvatarPic" class="avatarPic"></div>
      <div class = "accountInfo">
        <h1>Name: {{ current_user.username }} </h1>
        <h1>Account created: {{ current_user.date }} </h1>
      </div>
      <div class = "accountOptions">
        <button id="passBtn" class="accButton w3-button w3-round-xlarge">Change Password</a>
        <button id="avatarBtn" class="accButton w3-button w3-round-xlarge">Change Avatar</a>
      </div>
    </div>
    <div>

    <div class ="compTests">
      <!-- if current user is not an admin -->
      {% if current_user.is_admin == 0 %}
      <div class="generalTestInfo">
        <h1>Completed tests</h1>
      </div>

      <div class="generalTestInfo" id="generalTestInfoStudent">
        <h1>Submitted at</h1>
        <h1>Result</h1>
      </div>
        <!-- display a list of tests previously submitted by the current user -->
        {% for test in tests1 %}
          {% if (test.percentage >= 40) %}
          <a href="/account/view_test/{{ test.id }}">
            <div class="testResult" id="passedTest">
              <p> {{ test.timestamp.strftime("%Y-%m-%d %H:%M:%S") }} </p>
              <p> {{ test.percentage }}% </p>
            </div>
          </a>
          {% endif %}

          {% if (test.percentage < 40) %}
          <a href="/account/view_test/{{ test.id }}">
            <div class="testResult" id="failedTest">
              <p> {{ test.timestamp.strftime("%Y-%m-%d %H:%M:%S") }} </p>
              <p> {{ test.percentage }}% </p>
            </div>
          </a>
          {% endif %}
        {% endfor %}
      {% endif %}
      <!-- if current user is an admin -->
      {% if current_user.is_admin == 1 %}
      <div class="generalTestInfo">
        <h1>List of students</h1>
      </div>
      <div class="generalTestInfo">
        <h1>Name</h1>
        <h1>Email address</h1>
        <h1>User since</h1>
      </div>

      <!-- display a list of students (registered users that are not admin) -->
      {% for user in users1 %}
      <a href="/account/view_user/{{ user.id }}">
        <div class="testResult" id="userListItem">
          <p> {{ user.username }} </p>
          <p> {{ user.email }} </p>
          <p> {{ user.date_created }} </p>
        </div>
      </a>
      {% endfor %}

      {% endif %}
    </div>

    <div id = "passPopup" class = "passPopup">
      <div class="passPopup-content">
        <span class="closePassPopup">&times;</span>
        <form action="{{ url_for('account') }}" method="POST">
        	<div class="loginS">
        		<div class="login-screen">
        			<div class="app-title">
        				<h1>Change password:</h1>
        			</div>
              <form method = "POST">
                {{ wtf.quick_form(pass_form) }}
              </form>
        		</div>
        	</div>
        </form>
      </div>
    </div>

    <div id = "avatarPopup" class = "passPopup">
      <div class="passPopup-content">
        <span class="closeAvatarPopup">&times;</span>
        <form action="{{ url_for('account') }}" method="POST">
        	<div class="loginS">
        		<div class="login-screen">
        			<div class="app-title">
        				<h1>Change avatar:</h1>
        			</div>
              <form method = "POST">
                {{ wtf.quick_form(avatar_form) }}
              </form>
        		</div>
        	</div>
        </form>
      </div>
    </div>
  </div>
  <div class="filler"></div>
</div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
  <script type="text/javascript"> var current_user_avatar = "{{ current_user.avatar_link }}"; </script>
  <script type="text/javascript"> var current_user_admin = "{{ current_user.is_admin }}"; </script>

{% endblock %}
