{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}UEA{% endblock %}

{% block currentButton %}

  {% if current_user.is_authenticated %}
  <a class="myBW w3-bar-item w3-button w3-red w3-right" href="{{ url_for('account') }}">ACCOUNT</a>
  {% else %}
  <a class="myBW w3-bar-item w3-button w3-red w3-right" href="{{ url_for('register') }}">SIGN UP</a>
  {% endif %}

  {% if current_user.is_authenticated %}
    <a class="myBB w3-bar-item w3-button w3-red w3-right" href="{{ url_for('logout') }}">LOGOUT</a>
  {% else %}
    <a class="myBB w3-bar-item w3-button w3-red w3-right" href="{{ url_for('login') }}">LOGIN</a>
  {% endif %}

  <a class="myB w3-bar-item w3-button w3-black w3-right" href="{{ url_for('test') }}">TEST</a>
  <a class="myB w3-bar-item w3-button w3-black w3-right" href="{{ url_for('learn') }}">LEARN</a>
  <a class="myB w3-bar-item w3-button w3-teal w3-right" href="{{ url_for('index') }}">HOME</a>
{% endblock %}

{% block page_content %}
  <div class="midContainer">
    <div class="generalTestInfo">
      <p> Submitted: {{ test.timestamp.strftime("%Y-%m-%d %H:%M:%S") }} </p>
      <p> Result: {{ test.percentage }}% </p>
    </div>

    {% for question in questions1 %}
      {% if (question.correct == 1) %}
        <div class="questionResult" id="passedTest">
      {% endif %}

      {% if (question.correct != 1) %}
        <div class="questionResult" id="failedTest">
      {% endif %}

          <div class="questionInformation" id="topQuestionInformation">
              <span id="resultsQuestionNumber" class="questionHeader">{{question.question_number}}</span>
              {% if (question.question_number < 9) %}
                <p>{{question.question}}</p>
              {% endif %}

              {% if (question.question_number == 9) %}
                <span class="questionDetails" id="question9"></span>
                <div class="questionImg" id="question9img"></div>
              {% endif %}

              {% if (question.question_number == 10) %}
                <span class="questionDetails" id="question10"></span>
                <div class="questionImg" id="question10img"></div>
              {% endif %}

              <script>
                if({{question.question_number}} == 9) {
                  var question9 = "{{question.question}}";
                  var split9 = question9.split(":").pop();
                  var changed9 = split9.replace(/&lt;/g, "<").replace(/&#34;/g, "'").replace(/&gt;/g, ">")
                  var text9 = question9.split(":");
                  document.getElementById("question9").innerHTML = text9[0] + ": ";
                  document.getElementById("question9img").innerHTML = changed9;
                }
                if({{question.question_number}} == 10) {
                  var question10 = "{{question.question}}";
                  var split10 = question10.split(":").pop();
                  var changed10 = split10.replace(/&lt;/g, "<").replace(/&#34;/g, "'").replace(/&gt;/g, ">")
                  var text10 = question10.split(":");
                  document.getElementById("question10").innerHTML = text10[0] + ": ";
                  document.getElementById("question10img").innerHTML = changed10;
                }
              </script>
          </div>
          <div class="questionInformation" id="bottomQuestionInformation">
            {% if question.question_number != 9 %}
              <p> Correct answer: {{question.correct_answer}} </p>
              <p> Your answer: {{question.user_answer}} </p>
            {% endif %}

            {% if question.question_number == 9 %}
              <p style='text-transform:uppercase'> Correct answer: {{question.correct_answer}} </p>
              <p style='text-transform:uppercase'> Your answer: {{question.user_answer}} </p>
            {% endif %}

          </div>
        </div>
      {% endfor %}
      <div class="midContainer">
        {% if current_user.is_admin == 0 %}
        <a class="myBB w3-bar-item w3-button w3-red w3-left" id="backButton" href="{{url_for('account')}}"> Back to account </a>
        {% endif %}

        {% if current_user.is_admin == 1 %}
        <a class="myBB w3-bar-item w3-button w3-red w3-left" id="backButton" href="javascript:history.back()"> Previous Page </a>
        {% endif %}
      </div>
  </div>


{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- <script src="{{url_for('static', filename='scripts/script.js')}}"></script> -->


{% endblock %}
