<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
<title>Page Title</title>
</head>
<body>

  <div class = "topBar">
    <div class = "ueaLogo">
      <img src="imgs/uea.png">
    </div>

    <div class = "topTitle">
      <h2> Foundations of Computing Teaching Aid </h2>
    </div>

    <div class = "homeLogo">
      <a href = "index.html">
        <img src = "imgs/home.png">
      </a>
    </div>
  </div>

  <div class = container>
    <a href = "bubbleSort.html"> Bubble Sort </a>
    <a href = "binary.html"> Selection Sort </a>
    <a href = "binary.html"> Insertion Sort </a>
    <a href = "algorithms.html"> Quick Sort </a>
  </div>

  <div id="arrayContainer"></div>

  <script src="scripts/jquery-3.2.1.min.js"></script>
  <script src = "scripts/script.js" type="text/javascript"></script>
  <script src = "scripts/algorithms.js" type="text/javascript"></script>
  <script src = "scripts/showArray.js" type="text/javascript"></script>

</body>
</html>
