<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/uea.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='imgs/uea.png') }}" type="image/x-icon">

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div class="all">
      {% block navbar %}
        <div class = "topBar">
          <div class = "ueaLogo">
            <a href="{{ url_for('index') }}">
             <img src="{{url_for('static', filename='imgs/uea3.png')}}" />
           </a>
          </div>

          <div class = "options">
            <div class="w3-bar">
              {% block currentButton %}

              {% endblock %}
            </div>
          </div>
        </div>
      {% endblock %}


      {% block content %}
        <div class="alertContaier">
          {% for message in get_flashed_messages() %}
          <div id="alert-warning" class="alert alert-warning">
              {{ message }}
              <button type="button" id="close" class="close" data-dismiss="alert">&times;</button>
          </div>
          {% endfor %}
        </div>

            <button type="button" id="close" class="close" data-dismiss="alert" style="display: none;">&times;</button>

        <div class="container">
          {% block page_content %} {% endblock %}
        </div>
      {% endblock %}


      </div>
      {% block scripts %}
        <script src="{{url_for('static', filename='scripts/jquery-3.2.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/alert.js')}}"></script>
      {% endblock %}
  </body>
</html>
