{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}UEA{% endblock %}

{% block currentButton %}

  {% if current_user.is_authenticated %}
  <a class="myBW w3-bar-item w3-button w3-red w3-right" href="{{ url_for('account') }}">ACCOUNT</a>
  {% else %}
  <!-- <a class="myBW w3-bar-item w3-button w3-red w3-right" href="{{ url_for('register') }}">SIGN UP</a> -->
  <button onclick="listFunction()" class="myBW w3-bar-item w3-button w3-red w3-right">SIGN UP</button>
    <div id="registerList" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom">
      <a href="{{ url_for('register') }}" class="w3-bar-item w3-button">Student</a>
      <a href="{{ url_for('register_admin') }}" class="w3-bar-item w3-button">Admin</a>
    </div>

    <script>
    function listFunction() {
        var x = document.getElementById("registerList");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
    </script>
  {% endif %}

  {% if current_user.is_authenticated %}
    <a class="myBB w3-bar-item w3-button w3-red w3-right" href="{{ url_for('logout') }}">LOGOUT</a>
  {% else %}
    <a class="myBB w3-bar-item w3-button w3-red w3-right" href="{{ url_for('login') }}">LOGIN</a>
  {% endif %}

  <a class="myB w3-bar-item w3-button w3-black w3-right" href="{{ url_for('discussion') }}">DISCUSSION BOARD</a>
  <a class="myB w3-bar-item w3-button w3-black w3-right" href="{{ url_for('test') }}">TEST</a>
  <a class="currentB myB w3-bar-item w3-button w3-black w3-right" href="{{ url_for('learn') }}">LEARN</a>
  <a class="myB w3-bar-item w3-button w3-teal w3-right" href="{{ url_for('index') }}">HOME</a>
{% endblock %}

{% block page_content %}
<div class="algoContainer">
  <h1 id = "algoTitle"> Adding Binary </h1>
  <div class = "algoControls">
    <label for="elements"> Speed in seconds: </label>
    <input id = "elements" type="number" name="speed">
    <input id = "runAlgoButton" type="button" value="Start Animation" onclick='runDemoUser()'/>
  </div>
  <div class="binaryDemo">
    <table class="binaryTable">
      <tr>
        <th>128</th>
        <th>64</th>
        <th>32</th>
        <th>16</th>
        <th>8</th>
        <th>4</th>
        <th>2</th>
        <th>1</th>
      </tr>

      <tr id="binary1" style="background-color: white"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr id="binary2" style="background-color: white"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr id="carry" style="background-color: white"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr id="answer" style="background-color: white"><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    </table>
  </div>
  <div id="algoInfo" class ="binaryInfo">
    <!-- <div>First number</div>
    <div>Second number</div>
    <div>Current carry</div>
    <div>Answer</div> -->
  </div>
</div>
{% endblock %}


{% block scripts %}
  {{ super() }}
  <script src="{{url_for('static', filename='scripts/binary.js')}}"></script>
{% endblock %}
