{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}UEA{% endblock %}

{% block currentButton %}

  {% if current_user.is_authenticated %}
  <a class="myBW w3-bar-item w3-button w3-red w3-right" href="{{ url_for('account') }}">ACCOUNT</a>
  {% else %}
  <a class="myBW w3-bar-item w3-button w3-red w3-right" href="{{ url_for('register') }}">SIGN UP</a>
  {% endif %}

  {% if current_user.is_authenticated %}
    <a class="myBB w3-bar-item w3-button w3-red w3-right" href="{{ url_for('logout') }}">LOGOUT</a>
  {% else %}
    <a class="myBB w3-bar-item w3-button w3-red w3-right" href="{{ url_for('login') }}">LOGIN</a>
  {% endif %}

  <a class="myB w3-bar-item w3-button w3-black w3-right" href="{{ url_for('test') }}">TEST</a>
  <a class="myB w3-bar-item w3-button w3-black w3-right" href="{{ url_for('learn') }}">LEARN</a>
  <a class="myB w3-bar-item w3-button w3-teal w3-right" href="{{ url_for('index') }}">HOME</a>
{% endblock %}

{% block page_content %}
<div class = 'container' id = 'loginContainer'>

{% if session['logged_in'] %}
<p>You're logged in already!</p>

{% else %}
<form action="{{ url_for('login') }}" method="POST">
	<div class="loginS">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login to your account:</h1>
			</div>

			<!-- <div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="LOGIN" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div> -->
      <form method = "POST">
        {{ wtf.quick_form(form) }}
      </form>
		</div>
	</div>
</form>

{% endif %}
</div>
{% endblock %}
