{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}UEA{% endblock %}

{% block currentButton %}
  <a class="myBW w3-bar-item w3-button w3-red w3-right" href="register">SIGN UP</a>
  <a class="myBB w3-bar-item w3-button w3-red w3-right" href="login">LOGIN</a>
  <a class="myB w3-bar-item w3-button w3-black w3-right" href="learn">TEST</a>
  <a class="myB w3-bar-item w3-button w3-black w3-right" href="learn">LEARN</a>
  <a class="myB w3-bar-item w3-button w3-teal w3-right" href="index">HOME</a>
{% endblock %}

{% block page_content %}
<div class = 'container' id = 'loginContainer'>

<form action="{{ url_for('register') }}" method="POST">
	<div class="loginS">
		<div class="login-screen">
			<div class="app-title">
				<h1>Register a new account:</h1>
			</div>

      <form method = "POST">
        {{ wtf.quick_form(form) }}
      </form>
		</div>
	</div>
</form>

</div>
{% endblock %}
